<h1>This vehicle has been added.</h1>
<h3>@Model.GetYear()</h3>
<h3>@Model.GetMakeModel()</h3>
<h3>@Model.GetPrice()</h3>
<h3>@Model.GetMiles()</h3>
<h3>@Model.GetDrivetrain()</h3>
<p><a href="/">Add another vehicle</a></p>
<p><a href="/view_vehicles">View inventory</a></p>
